body{
    font-family: 'Fredoka One', cursive;  
    background-color: #003049;
    color:#f5f5f5;
}
header{
    height: 100px;
    align-items: center;
    text-align: center;
}
.myname{
    font-size: 1.6em;
}
.callme{
    position: relative;
    padding-left: 70%;
    font-size: 1em;
    rotate: -6deg;
    transform: translatey(-22px);
    color: rgb(182, 67, 38);
}

article{
    width: 80%;
    margin: 5% 10%;
    align-items: center;
    text-align: center;
}
.imgg{
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img{
    width: 30%;
    height: 30%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
a{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}
.index:hover{
    text-decoration: underline;

}
.home:hover{
    text-decoration: underline;

}
.skills:hover{
    text-decoration: underline;
}
.contact:hover{
    text-decoration: underline;

}
@media(min-width:900px){
    .myname{
        font-size:2.6em;
    }
    .callme{
        font-size: 2em;
    }
    
article{
    font-size: 2em;
}
.imgg{
    margin-top: 5%;
}      
footer{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.8em;
}
}