body{
    background-color: #f3e6ca;
    font-family: "Gill Sans", sans-serif;
    color: 30475E;
}
header{
    width: 90%;
    margin: 10% 5%;
    height: 70px;
    text-align: center;
    font-size: 1.3em;
}
.ah{
    width: 80%;
    margin: 5% 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

article{
    margin-left: 5%;
}

img{
    position: relative;
    left: 69%;
    bottom: 90%;
    width: 30%;
    height: 30%;
}

.why{
    display: flex;
    flex-direction: row;
}


a{
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    justify-content: space-between;
}


@media(min-width:1000px){
    header{
        font-size: 1.9em;
    }
    .ah{
        font-size: 1.5em;
    }
    
    
    h2{
        font-size: 2em;
    }
    li{
        font-size: 1.6rem;
    }
    footer{
        margin: 5% 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 80px;
        font-size: 1.8em;
    }
}